$font-family-sans-serif:  "Poppins", Helvetica, Arial, sans-serif !default;
$font-size-base: 0.80rem !default;
$primary: #000000;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import "~font-awesome/css/font-awesome.min.css";

.capitalize{
    text-transform: capitalize
}
.input-group-text{
    background-color: red
}
.text-primary{
    color: $primary!important
}

@media only screen and (max-width: 600px) {
    #movie-details{
       text-align: center!important;
        width:100%!important;
        margin-top: 20px!important;
    }
    #movie-plot{
         width:100%!important
     }
     #review{
      
         width:100%!important
     }

  }